*{
    margin: 0;
    padding: 0;
}
header nav ul {
    display: flex;
    list-style: none;
    justify-content: left;
    align-items: center;
}
ul{
    height: 40px;
}
ul li{
    margin: 0px 20px;
    font-size: larger;
    font-weight: 800;
}
nav{
    background-color: blueviolet;
    margin: 10px;
    border-radius: 5px;
}

.table{
    margin: 10px;
}
table{
    width: 500px;
    height: 200px;
}
.st {
    background-color: blueviolet;
}